<div class="row-fluid">
    <div class="col-md-12">
        <h3>Welcome To TableQuizz</h2>
            {{link-to 'Join A Quizz' 'join_quizz_options' class="btn btn-success btn-lg btn-block"}}
    </div>
</div>