<form role="form">
    <div class="form-group">
        <label for="exampleInputEmail1">Enter Quiz ID:</label>
        {{ input value=quizID class="form-control" placeholder="E.g. 123" }}
    </div>

    <button {{action 'goToQuiz'}} type="button" class="btn btn-success btn-lg btn-block">
        Go To Quiz
    </button>
</form>