<div id="select_quiz_event">
    <h3>
        Select a Quiz Event Below
    </h3>

    {{#each}}
        <button {{action 'quiz_event_selected' this}} type="button" class="btn btn-primary btn-lg btn-block">
            {{name}}
        </button>
    {{/each}}
</div>

{{outlet}}
