Teams

<ul>
    {{#each}}
        <li>
            <button {{action 'team_selected' this}} type="button" class="btn btn-primary btn-lg btn-block">
                {{name}}
            </button>
        </li>
    {{/each}}
</ul>

</br>
{{outlet}}
